.card{
    background-color: #1b2028;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.card-header h2{
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-header{

}

.card-body{
    margin-top: 25px;
}
.card-body p{
    font-size: 1.2rem;
    color: lightgray;
}

.positive{
    color: greenyellow;
}
.negative{
    color: red;
}
